// Theme colors 
$dark-blue: #1b2c3f;
$bg: #f3f3f4;
$color: #343a40;
$color-light: #74788d;
$primary: #0bb197;
$nav-text: #8590a5;
$nav-text-active: #d7e4ec;

// Hover colors
$green: #086e5e;
$red: #760c0c;
$blue: #00627c;
$purple: #480c76;
$blue-alt: #051d38;

// Borders & shadows  
$border: rgba(51, 51, 51, 0.1);
$box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
$box-shadow-hover: rgba(0, 0, 0, 0.35) 0px 5px 15px;

// Transition

$transition: all 0.5s ease-in-out;